header {
  background: url("./photo/01s_page.png") fixed;
  height: 100vh;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.header {
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerText {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  text-align: center;

  h1,
  h2 {
    text-align: center;
    margin: 0;
  }

  h1 {
    font-size: $mainHeadingSizeFont;
  }

  h2 {
    font-size: 1.5rem;
  }
}

.overlay {
  width: 70%;
  height: 50%;
  right: -27%;
  position: absolute;
}